@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script:wght@500&display=swap');

body {
    background-color: gray;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
}

.title {
   text-align: center;
}

.quote {
   text-align: center;
   margin: 20px;
   font-size: 20px;
}

.linha {
    background-color: blueviolet;
    width: 80%;
    height: 2px;
    margin-bottom: 10px;
}

.img-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Alterado para ocupar 100% da largura disponível */
    max-width: 460px; /* Adicionado para definir uma largura máxima */
    margin: 0 auto; /* Adicionado para centralizar a div na horizontal */
    background-color: black;
    color: #dddddd;
    border-radius: 5px;
}

.img {
    text-align: center;
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}

.legend {
    text-align: center;
}

.description {
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

.timeline {
    background-color: blanchedalmond;
    border-radius: 5px;
}

.timeline-title {
    padding-top: 10px;
    padding-left: 10px;
}

.timeline-list ul li {
    padding: 5px;
}

.footer {
   background-color: blueviolet;
   color: #dddddd;
   border-radius: 5px;
}

.footer a {
    color: white;
}

footer .reference {
    color: rgb(190, 182, 170);
}